.App {
  font-family: sans-serif;
}
.Container {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  text-align: center;
  background-color: #7181ad;
  color: white;
  margin-top: 10em;
  padding: 10em;
  border-radius: 5px;
  box-shadow: 1px 4px 10px grey;
}
